@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Spectral:400,400i');

body {
  color: white;
  background-color: white;
  text-align: center;
  margin: 0 auto;
}



header {
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 auto;
  text-align: center;
  padding: 30px;
  height: 500px;
  max-width: 100%;
}


.main-nav {
  padding: 28px 0;
  opacity: 50%;
  width: 100%;
  text-align: right;
  transition: all 300ms ease-out;
}
nav a {
  font-family: 'Open Sans';
  font-weight: 400;
  color: white;
  text-decoration: none;
  letter-spacing: .01em;
  text-transform: uppercase;
  padding-right: 40px;
  margin: 0 15px;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Open Sans';
  right: 1300px;
}
h2 {
  font-family: 'Open Sans';
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: left;
}
section h3 {
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: center;
  margin: 0;
  max-width: 100%;
}
section h4{
  font-family: 'Open Sans';
  text-align: center;
  max-width: 100%;
  font-size: 15px;
  margin-bottom: 0;
}

main {
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  max-width: 100%;
  position: relative;
  z-index: 10;
}



img {
  margin: 0 auto;
  display: inline;
  text-align: center;
  max-width: 100%;

}

footer {
  text-align: center;
  font-family: 'Open Sans';
  color: black;
  margin-top: 30px;
  padding: 10px;
  letter-spacing: 1px;
}

header h2 {
  padding: 200px 0 0 0;
  text-align: center;
  position: fixed;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
/*.sun {
  top:30px;
  left:80px;
  width:100px;
  height: 100px;
}*/
.designer {
  float: left;
  margin-left: 50px;
  padding: 26px 0;
  font-size: 22px;
  font-family: 'Open Sans';
  text-decoration: none;
  font-weight: 400;
  color: white;
}

.sfbc-mobile {
  position: relative;
  max-width: 100%;
}
.overlay {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  background-color: rgba(252,227,219, .9);
  position: absolute;
  z-index: 30;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(.6, .6);
  transition: all .3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sfbc-mobile:hover .overlay {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(0.9, 0.9);
  color: black;

}
/*.bike-move {
  transform: translateX(-50%) translateY(-50%) scale(0.1, 0.1);
  transition: all .3s ease;
  opacity: 1;

}*/
.hamburger{
  display: none;
}

.close {
  display: none;
}
.scrolled-left {
  margin-left: 0px;
  padding-left: 80px;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 3px 11px rgba(0, 0, 0, .1);
  width: 100%;
}
.scrolled {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: black;
}
footer {
  font-size: 13px;
}
@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 2fr);
  }
  #title {
    margin-left: 350px;
  }
}

@media screen and (max-width: 755px) {

  main {
    grid-template-columns: repeat(2, 2fr);
  }
  .nav-links a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    color: white;
  }
  .hamburger {
    margin-right: 0;
    display: block;
    font-size: 30px;
  }
  .close {
    display: block;
  }
  .nav-links {
    background-color: #636FA4;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
    transform: translateX(100%);
  }
  .active {
    transform: translateX(0);
  }
  #title {
    margin-left: 200px;
  }
}

@media screen and (max-width: 500px) {
  main {
    grid-template-columns: repeat(1, 2fr);
  }

  .designer {
    display: block;
    position: fixed;
  }
  #title {
    margin-left: 15px;
  }
  h2 {
    font-size: 20px;
  }

  .overlay {
    width: 200px;
    height: 200px;
    margin: 25px;
  }

}
